**/.terraform/*

*.tfstate
*.tfstate.*
*.tfstate.backup

tfplan
*.tfplan
*.plan

crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tfvars
*.tfvars.json

gha-creds-*.json
*.json.key

.env
.env.*
!.env.example

.DS_Store
.vscode/
.idea/
